@charset "UTF-8";
@font-face {
    font-family: 'logo';
    
    src: url('./fonts/Reef.otf');
    src: url('./fonts/Reef.otf') format('embedded-opentype'),
    url('./fonts/Reef.otf') format('opentype');
   }

@font-face {
 font-family: 'Noto';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Black.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Black.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Black.woff') format('woff');
}
@font-face {
 font-family: 'NotoB';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Bold.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Bold.woff') format('woff');
}
@font-face {
 font-family: 'NotoR';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.woff') format('woff');
}
@font-face {
 font-family: 'NotoM';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.woff') format('woff');
}
@font-face {
 font-family: 'NotoL';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Light.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Light.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Light.woff') format('woff');
}
@font-face {
 font-family: 'NotoDL';
  font-style: 700;
 font-weight:700;
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.woff') format('woff');
}

input,textarea{outline: none;}
*{margin:0; padding: 0; position: relative; box-sizing:border-box; list-style: none; font-family: 'NotoR', sans-serif;}

.section{display: flex;}

.section .menu-bar {width: 200px; height: 100vh; display: absolute; z-index: 20; background-color: #f4f4f4; }

.section .content-wrap {width: 100%; height: auto; display: flex; flex-direction: column; align-items: center;}
.section .content-wrap .content{width: 90%; height: auto; display: flex; flex-direction: column; margin-top:40px;}
.section .content-wrap .content .cont{display: flex; flex-direction: row; margin-bottom: 3%; height: 300px;}
.section .content-wrap .content .cont .cont-item{flex: 1; margin-left: 30px; border: 2px solid #bbbbbb;}
.section .content-wrap .content .cont .cont-item2{flex: 1; margin-left: 30px; border: 2px solid #bbbbbb; }
.section .content-wrap .content .cont .cont-item3{flex: 2; margin-left: 30px; border: 2px solid #bbbbbb; }
.section .content-wrap .content .cont .cont-item4{flex: 1; margin-left: 30px; border: 2px solid #bbbbbb; }
.section .content-wrap .content .cont .cont-item5{flex: 1; margin-left: 30px; border: 2px solid #bbbbbb; }
.section .content-wrap .content .cont .title-wrap{height: 15%; background-color: #f4f4f4;}



