@charset "UTF-8";
@font-face {
    font-family: 'logo';
    
    src: url('./fonts/Reef.otf');
    src: url('./fonts/Reef.otf') format('embedded-opentype'),
    url('./fonts/Reef.otf') format('opentype');
   }

@font-face {
 font-family: 'Noto';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Black.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Black.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Black.woff') format('woff');
}
@font-face {
 font-family: 'NotoB';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Bold.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Bold.woff') format('woff');
}
@font-face {
 font-family: 'NotoR';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.woff') format('woff');
}
@font-face {
 font-family: 'NotoM';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.woff') format('woff');
}
@font-face {
 font-family: 'NotoL';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Light.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Light.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Light.woff') format('woff');
}
@font-face {
 font-family: 'NotoDL';
  font-style: 700;
 font-weight:700;
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.woff') format('woff');
}

input,textarea{outline: none;}R
*{margin:0; padding: 0; position: relative; box-sizing:border-box; list-style: none; font-family: 'NotoR', sans-serif;}

.section .wrapper .content-wrap .content .cont{display: flex; flex-direction: row; margin-bottom: 3%; height: 300px;}
.section .wrapper .content-wrap .content .cont.h400{height: 330px;}
.section .wrapper .content-wrap .content .cont .cont-item{flex: 1; margin-left: 30px; border: 2px solid #bbbbbb;}
.section .wrapper .content-wrap .content .cont .cont-item:first-child{margin-left: 0;}
.section .wrapper .content-wrap .content .cont .cont-item.flex-2{flex: 2;}
.section .wrapper .content-wrap .content .cont .title-wrap{height: 15%; background-color: #f4f4f4; display: flex; flex-direction: row;}
.section .wrapper .content-wrap .content .cont .title-wrap .text1{flex: 1; display: flex; justify-content: flex-start; margin-left: 20px; align-items: center; font-size: 17px; font-weight: bold; font-family: 'NotoR'}
.section .wrapper .content-wrap .content .cont .title-wrap .text2{flex: 1; display: flex; justify-content: flex-end; margin-right: 20px; align-items: center; font-size: 17px; font-weight: bold; font-family: 'NotoR'}
.section .wrapper .content-wrap .content .cont .chart-wrap{margin: 0 auto; width: 96%; height: 90%; display: flex; justify-content: center; align-items: center;}
.section .wrapper .content-wrap .content .cont .table-wrap{margin: 0 auto; width: 96%; height: 90%; display: flex; justify-content: center; margin-top: 1%;}


