@charset "UTF-8";
@font-face {
    font-family: 'logo';
    
    src: url('./fonts/Reef.otf');
    src: url('./fonts/Reef.otf') format('embedded-opentype'),
    url('./fonts/Reef.otf') format('opentype');
   }

@font-face {
 font-family: 'Noto';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Black.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Black.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Black.woff') format('woff');
}
@font-face {
 font-family: 'NotoB';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Bold.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Bold.woff') format('woff');
}
@font-face {
 font-family: 'NotoR';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.woff') format('woff');
}
@font-face {
 font-family: 'NotoM';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.woff') format('woff');
}
@font-face {
 font-family: 'NotoL';
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Light.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-Light.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-Light.woff') format('woff');
}
@font-face {
 font-family: 'NotoDL';
  font-style: 700;
 font-weight:700;
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.eot');
 src: url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
 url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.woff') format('woff');
}

input,textarea{outline: none;}
*{margin:0; padding: 0; position: relative; box-sizing:border-box; list-style: none; font-family: 'NotoR', sans-serif;}

.section .content-wrap .content .table-wrap {width: 100%; display: flex; flex-direction: column; margin-bottom: 20px;}
.section .content-wrap .content .table-wrap .text-wrap {display: flex; flex-direction: row; margin-bottom: 20px;}
.section .content-wrap .content .table-wrap .text-wrap .left{flex: 1; justify-content: flex-start; display: flex; align-items: flex-end; }
.section .content-wrap .content .table-wrap .text-wrap .left .bar{border: solid 2px #333; width: 2px; height: 25px; background-color: #333; margin-right: 10px;}
.section .content-wrap .content .table-wrap .text-wrap .left .text{font-weight: bold; font-size: 18px;}
.section .content-wrap .content .table-wrap .text-wrap .right{flex: 1; display: flex; flex-direction: row; justify-content: flex-end;}
.section .content-wrap .content .table-wrap .text-wrap .right .btn{margin-left: 10px;}
.section .content-wrap .content .table-th {background-color: #f4f4f4; padding-left: 10px; }
.section .content-wrap .content .input-group-text{background-color: #fff;}

.section .content-wrap .content .table-wrap .accordion .accordion-header{display: flex;}
.section .content-wrap .content .table-wrap .accordion .accordion-header .left{flex:1; display: flex; justify-content: flex-start; align-items: center; margin-left: 10px;}
.section .content-wrap .content .table-wrap .accordion .accordion-header .center{flex:1; display: flex; justify-content: center; align-items: center;}
.section .content-wrap .content .table-wrap .accordion .accordion-header .center .form-check{width: 100%;}
.section .content-wrap .content .table-wrap .accordion .accordion-header .center .form-check .form-control{text-align: center;}
.section .content-wrap .content .table-wrap .accordion .accordion-header .right{flex:1; display: flex; justify-content: flex-end; align-items: center;}
.section .content-wrap .content .table-wrap .accordion .accordion-body{padding: 0;}

.bd-bottom{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.bd-bottom .accordion-button{width: 60px; background-color: #fff !important; box-shadow: none !important; margin-left: 10px;}
.bd-bottom .pm-buttons{width: 30px; height: 30px; margin-left: 10px; font-weight: 600; font-size: 22px; display: flex; justify-content: center; align-items: center;}
.fcts-info .accordion-item{margin-top: 20px; border-top: 1px solid rgba(0, 0, 0, 0.1) !important; margin-bottom: 80px;}
.table-invertor{border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;} 
.invertor-header{width: 100%; display: flex; justify-content: space-between;}
.invertor-header span{display: flex; align-items: center;}