<!DOCTYPE html>

<head>
<meta charset="UTF-8">
  <script src="js/common/lnb.js" ></script>
</head>

	<div class="menu-bar">
		<ul class="nav flex-column">
	  		<li class="nav-item">
	    		<a class="nav-link dashboard" href="dashboard.html" id="nav1">대쉬보드</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link amn_anal1 amn_anal2 amn_anal3"  href="amn_anal1.html" id="nav2" >발전분석</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link " href="elec_ctrl.html" id="nav3" >전력감시 계통도</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link amn_info1 amn_info2 amn_info3 amn_info4" href="amn_info1.html" id="nav4" >발전정보</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link report1 report2" href="report1.html" id="nav5" >보고서</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link failure" href="failure.html" id="nav6" name="dashboard">장애정보</a>
	  		</li>
		</ul>
	</div>
	
	
