<!DOCTYPE html>

<head>
<meta charset="UTF-8">
  <script src="js/common/lnb.js" ></script>
</head>

	<div class="menu-bar">
		<ul class="nav flex-column">
	  		<li class="nav-item">
	    		<a class="nav-link members" href="members.html" id="nav1">회원목록</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link membersRegist" href="membersRegist.html" id="nav2">회원등록</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link fcts" href="fcts.html" id="nav3">업체/설비 목록</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link fctsRegist" href="fctsRegist.html" id="nav4">업체/설비 등록</a>
	  		</li>
		</ul>
	</div>
	
	
